APScheduler==3.10.0
arrow==1.2.3
carbontracker==1.1.7
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.3
codecarbon==2.1.4
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
eco2ai==0.3.5
fonttools==4.38.0
future==0.18.3
fuzzywuzzy==0.18.0
geocoder==1.38.1
GPUtil==1.4.0
idna==3.6
importlib-metadata==6.0.0
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.22.0
packaging==23.0
pandas==1.4.3
Pillow==9.4.0
pkcs7==0.1.2
psutil==5.9.4
py-cpuinfo==9.0.0
pycryptodome==3.19.0
pynvml==11.4.1
PyP100 @ git+https://github.com/almottier/TapoP100.git@778123747e31f1cdea2f069fecb0ae84b536bf08
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
ratelim==0.1.6
requests==2.31.0
scikit-learn==1.2.0
scipy==1.10.0
six==1.16.0
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
torch==1.13.1+cu116
torchvision==0.14.1+cu116
tornado==6.2
tqdm==4.64.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==2.1.0
zipp==3.12.0
